#version=OL8
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --disable

# Keyboard layouts
keyboard --vckeymap=de --xlayouts='de'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=eth0 --onboot=yes --ipv6=auto --activate
network --hostname=oracle-linux-9

rootpw --lock

user --name=ol --groups=wheel --password=packer123 --plaintext

# System timezone
timezone Europe/Berlin --utc

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
part /boot/efi --fstype="efi" --size=512
part /boot --fstype="xfs" --size=1024
part pv.01 --fstype="lvmpv" --size=1 --grow

volgroup ol pv.01
logvol / --fstype="xfs" --size=10240 --name=root --vgname=ol
logvol /var --fstype="xfs" --size=4096 --name=var --vgname=ol
logvol /home --fstype="xfs" --size=2048 --name=home --vgname=ol
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=ol

# Package Selection
%packages --ignoremissing
@^minimal-environment
openssh-server
openssh-clients
tar
python3
%end

%post --log=/root/ks-post.log

echo "%wheel ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/wheel-nopasswd
chmod 0440 /etc/sudoers.d/wheel-nopasswd

# SSH MUSS laufen und korrekt konfiguriert sein!
systemctl enable sshd
systemctl start sshd

# Password Authentication aktivieren
sed -i 's/^#PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
sed -i 's/^PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config

# Wichtig: PubkeyAuthentication optional deaktivieren
sed -i 's/^#PubkeyAuthentication.*/PubkeyAuthentication yes/' /etc/ssh/sshd_config

# SSH neu starten
systemctl restart sshd

%end

reboot
